[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_general_ci
default-time-zone = '+0:00'

# @rodrigogs/mysql-events用にログを出力
log-bin=mysql-bin
# IDを指定しないといけない(基本は1)
server-id=1
# ログはすぐに見て破棄でいいので、保存は1日
binlog_expire_logs_seconds = 86400

[client]
default-character-set=utf8mb4
